/* .scrbl-sub-nav {
  display: none;
}

.scrbl .nested-nav:hover .sub-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
}

.scrbl .nested-nav:hover > a {
  background-color: red;
} */
